<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="panel-body">
  <div class="coloumn-email">
    <label for="user_email" class="control-label">Email:</label>
      <%= @user.email %>
  </div>
  <div class="coloumn-location">
    <label for="user_location" class="control-label">Location:</label>
      <%= @user.location %>
  </div>
    <%= link_to "プロフィールの編集" , edit_user_path(@user) %>
</div>